<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h3>メモを追加</h3>
  <%= form_with model: @task, url: goal_tasks_path(@task.goal) do |form| %>
    <%= form.text_field :info %>
    <%= form.submit '送信' %>
  <% end %>
<% if false %>
<% end %>


