<% provide(:title, "About") %>

<head>
  <h2>Will Clockとは</h2>
</head>

<body>
  <h2></h2>
  <p>
    「目標」と「期日」を設定すると、期日までのカウントダウンを表示します。<br>
    目標ごとに進捗などのコメントを残すことができます。
  </p>
  <p>
    まずは
    <%= link_to "ユーザ登録", signup_path %>
    を行って目標と期日を登録してください〜
  </p>
</body>
