<!DOCTYPE html>
<html lang="ja">

<head>
  <h1>WillClock</h1>
</head>

<body>
  <div>
    <h2>About</h2>
  </div>
  
  <div>
    <h2>How to</h2>
  </div>
  
  <div>
    <li>
    <ul><%= link_to "Log in", login_path %></ul> 
    <ul><%= link_to "Sign up", signup_path %> </ul>
    <ul><%= link_to '目標一覧', goals_path %></ul>
    <ul><%= link_to 'Log out', logout_path %></ul>
    </li>
  </div>
</body>

</html>