<!DOCTYPE html>
<html lang="ja">

<head>
  <h1>Will Clock</h1>
</head>

<body>
  <h2>About</h2>
  
  <div>
    <%= link_to "Log In", login_path %>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "目標一覧", goals_path %>
  </div>
</body>

</html>