<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">-->
<!--    <meta name="generator" content="Jekyll v3.8.5">-->
<!--    <title>Album example · Bootstrap</title>-->

<!--    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">-->

     <!--Bootstrap core CSS -->
<!--<link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->


   
    
    <div>
      <script>
      function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
        h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
      }
      function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
      }
      </script>
    </div>
  </head>

<body onload="startTime()">
  <div id="tt"></div>
</body>

<body>
  <header>
  </header>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">目標 一覧</h1>
        <p class="lead text-muted">View all of your goals</p>
        <p>
          <a href="#" class="btn btn-primary my-2">進行中</a>
          <a href="#" class="btn btn-secondary my-2">完了済み</a>
          <p id="txt"></p>
        </p>
      </div>
    </section>
  </main>

  <p class="float-right">
    <a href="#">先頭に戻る</a>
  </p>
</body>


<h1>目標一覧</h1>
<h2>Goals#index</h2>
<body>
    <div>
    <% @goal.each do |goal| %>
      <p>goal_id = <%= goal.id %></p>
      <p>目標 = <%= goal.title %></p>
      <p>期限 = <%= goal.due_time %></p>
      <p>　</p>
    <% end %>
    </div>
    

</body>



</html>